@using DynamicPlaceholders.Mvc.Extensions
@using Foundation.CSSGridLayout.Helpers
@using Foundation.CSSGridLayout.RenderingParameters
@using Sitecore.Data
@using Sitecore.Mvc
@{
    var parameters = Html.GetRenderingParameters<ItemRenderingParameters>();
}

<div style="@parameters.Styles">
    Some content here
	Column start: @parameters.GridColumnStart
	Column end: @parameters.GridColumnEnd
	Row start: @parameters.GridRowStart
	Row end: @parameters.GridRowEnd
</div>